.day-container {
  width: 70px;
  height: 70px;
  margin: 5px;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  align-items: center;
  transition: all .1s;
  display: inline-flex;
  -moz-user-select: none;
  justify-content: center;
  color: var(--foreground-2);
}

.day-container.miscellaneous {
  opacity: .5;
}

.day-container.work-free {
  color: var(--foreground-1);
}

.day-container.today {
  opacity: .8;
}

.day-container:hover, .day-container.today {
  background-color: var(--background-3);
}

.day-container.work-free:hover, .day-container.work-free.today {
  background-color: var(--background-2);
}
