body {
  --foreground-1: red;
  --foreground-2: #2b913e;
  --background-1: #d3d3d3;
  --background-2: #ffcccb;
  --background-3: #b7df89;

  margin: 0;
  padding: 50;
  display: flex;
  font-family: 'Roboto';
  justify-content: center;
}
